// VARIABLES
$transition-duration: 0.5s;
$primary: #b60a27;
$header-height: 60px;
$header-bg: rgb(255, 255, 255);
$sidebar-width: 245px;
$sidebar-bg: rgb(245, 243, 243);
$menu-item-bg-hover: rgba(255, 255, 255, 0.808);
$menu-item-color: rgb(94, 86, 91);
$menu-item-color-hover: $primary;
$menu-item-color-active: rgb(153, 56, 56);
$menu-item-color-active-bg: rgb(240, 210, 210);
$ntf-icon-color: rgb(255, 241, 241);
$ntf-icon-bg: linear-gradient(
  0deg,
  rgba(165, 0, 255, 1) 0%,
  rgba(255, 0, 25, 1) 100%
);
$ntf-badge-color: rgb(202, 0, 0);
$ntf-badge-bg: rgb(240, 204, 204);
$ntf-dd-bg: linear-gradient(
  45deg,
  rgb(255, 255, 255) 0%,
  rgb(255, 245, 245) 100%
);
$ntf-dd-min-width: 300px;

body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

#content {
  position: absolute;
  margin-top: $header-height;
  margin-left: $sidebar-width;
  width: 100%;
  height: 100%;
}

#menu {
  padding-top: 1rem;
  display: inline-block;
}

.menu-item {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  min-width: 225px;
  display: inline-block;
  .menu-icon {
    vertical-align: middle;
    width: 36px;
    height: 36px;
  }
  .menu-label {
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.4em;
    text-transform: none;
  }

  * {
    color: $menu-item-color;
  }
  &:hover {
    background-color: $menu-item-bg-hover;
    * {
      color: $menu-item-color-hover;
    }
  }
}

.menu-item-active {
  background-color: $menu-item-color-active-bg;
  * {
    color: $menu-item-color-active;
  }
}

#bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#sidebar {
  position: fixed;
  overflow: hidden;
  z-index: 999;
  height: 100%;
  width: $sidebar-width;
  transition: $transition-duration;
  background-color: $sidebar-bg;
  -webkit-box-shadow: 0px 0px 5px -2px #00000079;
  box-shadow: 0px 0px 5px -2px #00000079;

  .brand {
    .image {
      img {
        height: 140px;
        width: auto;
        margin: auto;
      }
    }
  }
}

#header {
  position: fixed;
  z-index: 999;
  height: $header-height;
  width: 100%;
  background-color: $header-bg;
  -webkit-box-shadow: 0px 0px 5px -2px #00000079;
  box-shadow: 0px 0px 5px -2px #00000079;
}

#pp {
  cursor: pointer;
  width: $header-height;
  height: $header-height;
  float: right;
  padding: 5px;
  img {
    background-color: $primary;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    &:hover {
      transition: 0.5s;
      transform: scale(0.95);
      border: 1px solid $menu-item-color-active;
    }
  }

  #pp-dropdown {
    display: block;
    position: absolute;
    min-width: 100px;
    border-radius: 0.4rem;
    top: $header-height;
    right: 20;
    background: $header-bg;
    -webkit-box-shadow: 0px 0px 4px -2px #00000079;
    box-shadow: 0px 0px 4px -2px #00000079;
    z-index: 1000;
  }
  .hidden {
    display: none !important;
  }
}

// NOTIFICATIONS
#ntf {
  cursor: pointer;
  float: right;
  margin-top: 5px;
  margin-right: 20px;
  width: $header-height - 10;
  height: $header-height - 10;
  background: $ntf-icon-bg;
  color: $ntf-icon-color;
  border-radius: 100%;
  .icon-wrapper {
    &:hover {
      transform: scale(0.9);
      transition: 0.5s;
    }
    position: relative;
    float: left;
    padding-left: 7px;
  }
  i {
    text-align: center;
    vertical-align: middle;
  }
  .badge {
    color: $ntf-badge-color;
    background: $ntf-badge-bg;
    font-weight: bold;
    width: auto;
    min-width: 25px;
    height: 25px;
    text-align: center;
    line-height: 15px;
    margin: 0;
    border-radius: 50%;
    position: absolute;
    padding: 5px;
  }
  #ntf-dropdown {
    display: block;
    position: absolute;
    min-width: $ntf-dd-min-width;
    border-radius: 0.4rem;
    top: $header-height - 4;
    right: $header-height + 20;
    background: $ntf-dd-bg;
    -webkit-box-shadow: 0px 0px 4px -2px #00000079;
    box-shadow: 0px 0px 4px -2px #00000079;
    z-index: 1000;
  }
  .hidden {
    display: none !important;
  }
}

// MENU BUTTON
#btn-show {
  display: none;
  cursor: pointer;
  padding: 5px;
  width: 50px;
  height: 50px;
  color: black;
  &:hover {
    color: $primary;
  }
}

@media (max-width: 1000px) {
  #content {
    margin-top: $header-height;
    margin-left: 0;
  }

  #sidebar {
    width: 0;
    transition: $transition-duration;
  }

  #btn-show {
    display: inline;
  }

  .btn-hide {
    margin-left: $sidebar-width;
    transition: $transition-duration;
  }

  .show {
    width: $sidebar-width !important;
    transition: $transition-duration;
  }
}
